body 
{
    font-family: 'Raleway', sans-serif;
}

.main_div
{
    background:#ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.header_div
{
    background-color: white;
    color:red;
}

.header_div img
{
    width: 100px;
}

.main_div label
{
background: white;
width: 310px;
padding: 10px;
margin-bottom: 0px;
box-shadow: 5px 5px 18px white ;
}

#camera
{
    border:2px solid white ;
    width: 310px ;
    height: 300px;
    box-shadow: 5px 5px 18px white ;
}

.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white ;
    border:1px solid ;
}

.footer_div img
{
width: 70px;
}

.footer_div h4
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}

.footer_div
{
    margin-bottom: 50px;
}

.copy_right_footer
{
    color:grey ;
    background-color: white ;
    width: 100%;
    text-align:center ;
    bottom: 0;
    line-height: 3;
    position: fixed;
}
